/* common styles */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/* common styles */

/* home */
.auto-pic {
  width: 100%;
}

.main-pic-name {
  position: absolute;
  width: 21.4%;
  top: 30px;
  left: 30px;
}

.car-date {
  bottom: 10%;
  right: 5%;
  color: #ffffff;
  font-size: 3.75vw;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
}

.car-info {
  bottom: 5%;
  right: 5%;
  color: #ffffff;
  font-size: 2.03vw;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.slider-left {
  position: absolute;
  top: 40%;
  left: 0;
  width: 5.41%;
  cursor: pointer;
}

.slider-right {
  width: 5.41%;
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
}

.nav-toggler {
  width: 2.1%;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.nav-toggler-close {
  display: none;
  width: 1.9%;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.nav-list {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
  font-size: 6.5vw;
}

.nav-ul {
  margin-left: 23%;
}

.nav-ul li {
  cursor: pointer;
  line-height: 1;
  margin-bottom: 6%;
}

/* nav */

.nav {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.8);
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
}

/* nav */

/* home */

/* collection cars section */

.corner-garage-header {
  padding: 100px 0px;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 72px;
}

.garage-options-row {
  padding: 0 18%;
}

.garage-option-divs {
  width: 20%;
}

.road {
  margin: 50px 0px 10px 0px;
  overflow: hidden;
}

.bus {
  width: 15%;
  position: absolute;
  top: 65%;
  animation: busdrive 7s infinite both reverse linear;
}

/* collection cars section */

/* contact section */

.contact-section {
  position: relative;
}

.map-container {
  width: 83%;
  margin: 0 auto;
}

.map-frame {
  width: 100%;
}

.map-iframe {
  height: 900px;
  width: 100%;
}

.form-div {
  padding: 5% 5% 5% 15%;
}

.contact-form-wrapper {
  position: absolute;
  top: 45%;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-wr {
  display: flex;
  background-color: #fff;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: lighter;
  height: 570px;
}

.contact-information {
  background-color: #ebe8de;
  width: 37%;
}

.twitter,
.fb {
  padding-left: 5%;
}

.social-networks {
  margin-left: 20%;
  padding-bottom: 15%;
}

.sn-icons {
  width: 15%;
}

.contact-information-header {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
  font-size: 2.55vw;
  padding-left: 10%;
  padding-top: 10%;
}

.click-to-view {
  font-size: 2.55vw;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin: 20% 0 5% 20%;
  font-family: "RobotoCondensed", sans-serif;
}

.main-form {
  width: 63%;
  padding-top: 3%;
  padding-left: 6%;
}

.form-header {
  letter-spacing: 5px;
  font-size: 2.55vw;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
}

.left-side {
  width: 33%;
}

.form-control {
  margin-top: 10%;
  border: none;
  border-radius: 0%;
  background: #f2f2f2;
}

.form-control:first-child {
  margin-top: 0%;
}

/* custom radio/check buttons */

.form-check {
  padding: 0;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #020202;
}

/* .. */

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark-check:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark-check:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* custom radio/check buttons */

.form-control-textarea {
  resize: none;
}

.right-side {
  width: 54%;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.female {
  margin-left: 20%;
}

.copyright {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: roboto;
  font-weight: 300;
}

.submit-button-div {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 10%;
}

.submit-button {
  background-color: black;
  color: #fff;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.social-netoworks-reponsive {
  display: none;
  display: flex;
  justify-content: space-between;
}

.sn-icons-responsive {
  width: 15%;
}

.social-networks-responsive {
  text-align: end;
}
/* contact section */

@keyframes busdrive {
  0% {
    transform: translateX(-33vh);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* media queries */

@media only screen and (max-width: 1500px) {
  .corner-garage-header {
    font-size: 50px;
  }
  .form-header {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .contact-information {
    display: none;
  }

  .map-container {
    width: 100%;
  }

  .main-form {
    padding: 5% 0 0 0;
    width: 100%;
  }

  .form-header {
    text-align: center;
  }

  .form-inputs-wrapper {
    padding-left: 15%;
    margin-top: 3%;
  }

  .garage-options-row {
    padding: 0px 5%;
  }
  .map-iframe {
    height: 573px;
  }

  .contact-form-wr {
    background-color: #ebe8de;
  }

  .copyright {
    display: none;
  }

  .social-netoworks-reponsive {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
  }

  .click-to-vew-responsive {
    font-size: 50px;
    font-family: "RobotoCondensed", sans-serif;
    font-weight: bold;
  }
}
/* media queries */
